/* .body{
    background-color: rgb(173, 196, 206);
} */
.collcolor{
    background-color:rgb(248, 246, 244) ;
}
.textcolor{
    color: rgb(196, 223, 223);
}
.btnbg{
    background-color: rgb(196, 223, 223);

}
.txt1{
    color:rgb(150, 182, 197);
}
.btnbg{
    background-color: rgb(150, 182, 197);
}