body {
    background-color: rgb(255, 255, 255);
  }
.bgcoll {
  background-color: rgb(240, 235, 227);
}
.bgcoll2 {
  background-color: rgb(227, 244, 244);
}
.navbarbrand {
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  color: rgb(238, 211, 217);
  text-decoration: none;
  /* text-decoration-color: ; */
}

.navbarbrand:hover {
  color: rgb(225, 172, 172);
  text-decoration: none;
}

.textmedium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xxx-large;
}
.text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(181, 192, 208);
  text-decoration: none;
  font-size: large;
}
.text2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
    color:rgb(180, 180, 184);
}
.text3{
    color: rgb(180, 180, 184);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
}